extends home

block main-container
    script(type='text/javascript', src='/javascripts/student.js')
    .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
            li: a(href='/home') 我的作业

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        block sub-container
